parameters:
    level: max
    paths:
        - src/
        - tests/
    excludePaths:
        - vendor/
        - var/
        - public/
        - migrations/
        - tests/bootstrap.php
    treatPhpDocTypesAsCertain: false
